<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>About Us</h2>
      <br><br>
      
      <img src = "images/steel.png" width = '300' height = '300' alt = "steels">
      <p>
          House Of Steel is one of the biggest importing companies in Ethiopia. We are dedicated to satisfy our customers by providing quality items in a short amount of time. Our mission is to fill the gap in the lack of supplies in Ethiopia and create job apportunites.
      </p>
    
    </body>
</html>