<!DOCTYPE html>
<html>
    <head>
        <title> Contact Info </title>
        
        <link rel='stylesheet' href='/stylesheets/style.css' />
        
    </head>

    <body>
         
    <div id = "contact">
        <h2> Where to find us </h2>
        
        <p> We are located in the beautiful Gollagul Tower, 12th floor.
            <br><br>
            Address:<br> 
            Haile Gebreselassie Street,<br> 
            Hayahulte Mazoria, Infront of Traffic Police Headquarters
        </p>
        
        <br><br>
        
        <img src = "gollagul.jpg" alt = "location">
        
        <br><br>
        
     <h2> Feedback </h2>
        
        <p>
            Name:
            <input type = "text" size = "20" id = "name">
        </p>
        
        <p>
            Email:
            <input type = "text" size = "20" id = "email">  
        </p>
        
        <p>
            Message:
            <br>
            <textarea cols = 50 rows = "5" name = "answer"> </textarea>
        </p>
    
    <input type = "submit" value = "Submit">
        </div>
        
    </body>
</html>
