<table bgcolor='#adc3e6'> <tr>
	<td width='10%' align='left'>
		
 <img src = "images/logo.jpg" width = '300' height = '150'>
	</td> 
    	<td width='60%' align='center'><h1> House Of Steel </h1></td>
   	 <td width='20%' align='center'>Search Control</td>
   	 <td width='20%' align='center'>Login Control</td>
    </tr>
     </table> 

<div>
    <a href = "/">Home </a>
    <a href = "/about">About Us</a>
    <a href = "/contact"> Contact</a>
    <a href = "/product"> Products </a>
    <a href = "/customer"> Customers </a>
    <a href = "/supplier"> Suppliers </a>
    <a href = "/saleorder"> Sale Orders </a>
    <a href = "/orderdetail"> Order Details </a>
</div>
    
    
    

     