<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to House Of Steels!</h1>
    <p>This website makes it accessable for custormers to buy any type of steel while sitting at home</p>
  </body>
</html>
