<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <img src = "images/building.png" width = '500' height = '500' alt = "steels">
      
      <p>
         House Of Steel imports different types of steel that are beneficial for the construction sector as inputs and distributes it to end users. As it is well known, due to shortage of infrastructure, the demand for construction inputs is increasing from time to time and the public sector is unable to fill the demand supply gap. So, relying on the situation, it consolidated its resources and took part in supplying construction materials and thereby fill the gap of demand and supply.
      
      </p>
      
      
      <h3>We are here to help you find your needs at your convenience! </h3>
  </body>
</html>
