<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <img src = "images/logo.jpg" width = '300' height = '200'>
    
      <h1>Welcome to House Of Steels!</h1>
      
      <p>Why waste your time going from store to store when you can do it all right here</p>
  </body>
</html>
