<h3> Add a New Order Detail </h3>
<form action="/orderdetail" method="post" >
    
	<p>Order ID: <input type="text" name="order_id" required> </p>
    
  	<p>Product ID: <input type="text" name="product_id" required> </p>
    
    <p>Product Quantity: <input type="text" name="prodqty" required> </p>
    
    <p>Sale Price: <input type="text" name="saleprice" required> </p>
   
	<button type="submit">Add Order Detail</button>
</form>