<h3> Add a New Customer </h3>
<form action="/customer" method="post" >
    
	<p>First Name: <input type="text" name="firstname" required> </p>
    
  	<p>Last Name: <input type="text" name="lastname" required> </p>
    
    <p>Email: <input type="text" name="email" required> </p>
    
    <p>Phone Number: <input type="text" name="phone" required> </p>
   
     <p>Address 1: <input type="text" name="address1" required> </p>
    
    <p>City: <input type="text" name="city" required> </p>
    
    <p>State: <input type="text" name="state" required> </p>
    
    <p>Zip: <input type="text" name="zip" required> </p>
    
	<button type="submit">Add Customer</button>
</form>
