<h3> Add a New Sale Order </h3>
<form action="/saleorder" method="post" >
    
	<p>Customer ID: <input type="text" name="customer_id" required> </p>
    
  	<p>Sale Date: <input type="text" name="saledate" required> </p>
    
	<button type="submit">Add Sale Order</button>
</form>