<table>
    <tr>
        <td><%= "Order ID: " + saleorder.order_id %></td>
    </tr>
    
    <tr>
        <td><%= "Customer ID: " + saleorder.customer_id %></td>
    </tr>
    
     <tr>
         <td><%= "Sale Date: " + saleorder.saledate %></td>
    </tr>

</table>