<h3> Add a New Supplier </h3>
<form action="/supplier" method="post" >
    
	<p>Company Name: <input type="text" name="companyname" required> </p>
    
  	<p>Phone Number: <input type="text" name="phone" required> </p>
    
    <p>Website: <input type="text" name="website" required> </p>
   
	<button type="submit">Add Supplier</button>
</form>
