<table>
    <tr>
        <td><h3><%= supplier.companyname%></h3></td>
    </tr>
    
    <tr>
        <td><%= "Supplier ID: " + supplier.supplier_id %></td>
    </tr>
    
    <tr>
        <td><%= "Phone: " + supplier.phone %></td>
    </tr>
    
     <tr>
         <td><%= "Website: " + supplier.website %></td>
    </tr>

</table>
